<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>
  <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', path='/main.js') }}"></script>
</head>
<body>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>

  <div class="search-box">
    <div class="input-box">
      <input id="search-input" type="search" tabindex="1" spellcheck="false" placeholder="Search..." onkeyup="if(window.event.keyCode==13){searchArticles()}"/>
      <button id="btn-search" onclick='searchArticles()'>
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
    <div class="yearpicker">
      <input type="text" id="start-yearpicker" placeholder="Start year" value="">
      <i class="fa-solid fa-right-long"></i>
      <input type="text" id="end-yearpicker" placeholder="End year" value="">
    </div>
  </div>
  <div class="recaptcha-box">
    <p>[Robot checking detected]:Retry after Resolving the puzzle!</p>
  </div>
  <div class="loading-box">
    <img src="{{ url_for('static', path='/loading.webp') }}">
    <p class="loading-progress">0%</p>
  </div>
</body>
</html>